<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <button id="create-button">Make a new room</button>
    <input type="text" placeholder="Room name" id="input-roomName">
    <input type="text" placeholder="Username" id="input-username">
    <button id="apply-username">Apply username</button>    
    <script src='/js/home.js'></script>
</body>
</html>