<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/room.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minority game thing or whatever</title>
</head>
<body>
    <div class="onlineplayers"></div>
    <input type="text" placeholder="Username" id="input-username">
    <button id="apply-username">Apply username</button>
    <button id="start-button">Start a new game</button>
    <p id="custom-words-p"> Custom Words </p>
    <div class="custom-options-wrapper">
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
        <div class="custom-option">
            <input type="text" class="custom-word first-word">
            <input type="text" class="custom-word">
        </div>
    </div>
    <div id="first-responses"></div>
    <div id="second-responses"></div>
    <p id = "score">Score: </p>
    <script src="/socket.io/socket.io.js"></script>
    <script src='js/option.js'></script>
    <script src='js/room.js'></script>
</body>
</html>